<mat-card class="loginCard">
    <mat-card-header>
        <div mat-card-avatar >
            <mat-icon aria-hidden="false" fontIcon="face"></mat-icon>
        </div>
        <mat-card-title>Login</mat-card-title>

    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="validateLogin()">
            <mat-form-field class="full">
              <mat-label>Usuario</mat-label>
              <input matInput type="text" formControlName="user">
            </mat-form-field>
            <mat-form-field class="full">
                <mat-label>Clave</mat-label>
                <input matInput type="password" formControlName="pass">
            </mat-form-field>
            <p>
                <button mat-raised-button class="full" >Ingresar</button>
            </p>
            <p class="center">
              <a href=""> Registrarse </a>
            </p>
        </form>
    </mat-card-content>
</mat-card>

