<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
</form>

<div class="LoginContainer">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Usuario</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Clave</mat-label>
      <input matInput>
    </mat-form-field>
    <p>
      <button> Ingresar</button>
    </p>
  </form>
</div>
